h4 {
  border: solid;
  border-width: 10px;
  border-color: Red;
  border-radius: 20px;
  color: red;
  font-family: Avenir;
}
.inputs
{
  font-family: Optima;
}
.nbutton{
  font-family: Verdana;
}
.thx{
  font-family: Verdana;
}
.ininbu{
  border: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
}
